.integrate-container { width: 100%; height: 100%;   background: linear-gradient(135deg, rgba(236, 202, 88, 0.75), 23%, rgba(69, 167, 190, 0.8) 86%), url(../../images/horizon.png);   -webkit-background-size: cover; position:fixed;
	.loader-container{  position:absolute; top:0; left:0;width:100%; height:100%; z-index:1000; background-color:#2C3E50; opacity: .6;
		.loader{  position: absolute; left: 50%; top: 50%; margin-left: -32px; margin-top: -32px; display: block;  }	
	}
	.fixed-header { background: transparent; padding: 20px 50px; z-index:  1000;  width: 100%; display: -webkit-box;
		.fixed-header-logo { width: 58px; height:55px; background: url(../../images/user-vault-header-58-55-white.png);  -webkit-background-size: cover; background-size: cover; -webkit-filter: opacity(0.89);		
		}
	}
	.header-container { width: 100%; padding-top: 15px; padding-bottom: 15px; text-align: center; display: block;
		.header-text { color: rgba(242, 242, 242, 0.96); @extend %gotham-ssm-light; font-size: 40px;}	
	}
	.integration-box { width: 100%; text-align: center; margin-top: 22px;
		.integration-wrapper{  width: 700px; display: inline-block; background-color: rgba(127, 255, 212, 0.06); text-align: left; padding: 10px 0px 20px 0px;
			.step-number{  background: rgba(224, 224, 224, 0.59); border-radius: 100%; color: #A6B286; display: inline-block; font-size: 15px; height: 22px; line-height: 22px; margin-left: -40px; margin-top: 17px; position: absolute; text-align: center; width: 22px; @extend %gotham-ssm-extralight;
			}
			.import-users-text { border-bottom: 2px solid rgba(242, 242, 242, 0.28); padding-bottom: 6px; color: rgba(242, 242, 242, 0.96); width: 100%; float: left; @extend %gotham-ssm-extralight; letter-spacing: .01em; font-size: 19px;
			}
			.import-users-subtext { font-size: 15px; color:#f2f2f2; @extend %gotham-ssm-extralight;
			}
			.stripe-uservault-wrapper{ width: 75%; padding: 10px; height: 150px; margin: 29px auto; line-height: 97px;
				.stripe-logo { color:rgba(242, 242, 242, 0.63); font-size:128px; float:left; margin-right: 30px; }
				.plus-sign { color:rgba(242, 242, 242, 0.63); font-size: 128px; float:left; margin: auto 30px auto 0px;				}
				.uservault-logo { width: 103px; height: 100px; background: url(../../images/user-vault-header-58-55-white.png); background-size: cover; -webkit-filter: opacity(0.6); float: left; margin: 20px 0px 0 30px;}
			}
			.connect-stripe-wrapper { margin-top: 30px; width: 100%; height: 50px;
				.connect-stripe {   padding: 15px 29px; background: #6FD39C; margin: auto auto; text-align: center; border: none; width: 30%; border-radius: 29px; text-transform: uppercase; box-shadow: inset 0 -2px rgba(0,0,0,.1); @extend %gotham-ssm-medium; color:#f2f2f2; cursor: pointer; letter-spacing: .08em;
					&:hover{ background: #599D77;}					
				}
			}
		}
	}
}