<div class="container-composer">
		<div class="composer-container-editor">
			<div class="composer-wrapper">
				<div class="osx-style-controls">
					<ul>
						<li></li>
						<li class="yellow"></li>
						<li class="green"></li>
				</div>
				<div class="composer-subject">
					<input class="email-subject" placeholder="Please Update Your Credit Card Information"/>
				</div>
				<div class="composer-sender-container">
					<div class="composer-sender left">Ryan</div>
					<div class="send-date right">April, 18th</div>
				</div>
				<div class="composer-body-container">
					<textarea class="composer-textarea" placeholder="Hi <user.first_name>, 

Your credit information seems to be outdated. When you get a chance, please follow this <link> to update your card information to make sure your account stays active.

All the best,
					
Ryan"></textarea>
				</div>
			</div>
		</div>
</div>
