<div class="campaigns-container">
	<div class="top-container">
		<div class="number-of-campiagns-container left">
			<div class="icon-air-plane icon-air-plane-customization left"><span class="number-of-campaigns"> 4 Live Campaigns</span></div>
		</div>
		<div class="new-auto-message-container right">
			<a href='/#/dashboard/auto-messages'>
				<div class="new-auto-message-text">New Auto Message</div>
			</a>
		</div>
		
	</div>
		<div class="messages-container">
			<div class="messages-header">
				<div class="messages-header-title left">
					<div class="title campaigns-title">title</div>
				</div>
				<div class="messages-header-status left">
					<div class="status campaigns-title">status</div>
				</div> 
				<div class="message-header-channel left">
					<div class="channel campaigns-title">type</div>
				</div>
				<div class="message-header-sender left">
					<div class="sender campaigns-title">sender</div>
				</div>
			</div>
			<div class="messages-table">
				<section class="table-row">
					<div class="message-title-trigger-container left">
						<div class="message-title">Stripe 5 Days Delinquent</div>
						<div class="message-triggers"><span class="icon-uxpin-icon-set-credit-card-regular"></span> Stripe payment past due <span class="icon-uxpin-icon-set-calendar-regular"></span> 5 days delinquent</div>
					</div>
					<div class="message-status left">
						<div ng-hide="false" class="status-live-icon-container">
							<div class="icon-play icon-play-centered"></div>
							<div class="status-title">Live</div>
						</div>
						<div ng-hide="true" class="status-pause-icon-container">
							<div class="icon-pause icon-pause-centered"></div>
							<div class="status-title">Paused</div>	
						</div>
					</div>
					<div class="message-channel left">
						<div class="email left" ng-hide="false">
							<div class="icon-uxpin-icon-set-envelope-regular email-icon"></div>
							<div class="email-title">email</div>
						</div>
						<div class="sms left" ng-hide="true">
							<div class="icon-uxpin-icon-set-message-regular sms-icon"></div>
							<div class="sms-title">SMS</div>
						</div>
					
					</div>
					<div class="message-sender left">
						<div class="name-container">
							<div class="icon-user agent-icon"></div>
							<div class="agent-name-title left">Daniel Tawfik</div>
						</div>	
					</div>
				</section>
				<section class="table-row">
					<div class="message-title-trigger-container left">
						<div class="message-title">Stripe 7 Days Delinquent</div>
						<div class="message-triggers"><span class="icon-uxpin-icon-set-credit-card-regular"></span> Stripe payment past due <span class="icon-uxpin-icon-set-calendar-regular"></span> 7 days delinquent</div>
					</div>
					<div class="message-status left">
						<div ng-hide="false" class="status-live-icon-container">
							<div class="icon-play icon-play-centered"></div>
							<div class="status-title">Live</div>
						</div>
						<div ng-hide="true" class="status-pause-icon-container">
							<div class="icon-pause icon-pause-centered"></div>
							<div class="status-title">Paused</div>	
						</div>
					</div>
					<div class="message-channel left">
						<div class="email left" ng-hide="true">
							<div class="icon-uxpin-icon-set-envelope-regular email-icon"></div>
							<div class="email-title">email</div>
						</div>
						<div class="sms left" ng-hide="false">
							<div class="icon-uxpin-icon-set-message-regular sms-icon"></div>
							<div class="sms-title">SMS</div>
						</div>
					
					</div>
					<div class="message-sender left">
						<div class="name-container">
							<div class="icon-user agent-icon"></div>
							<div class="agent-name-title left">Jonathan Augenstine</div>
						</div>	
					</div>
				</section>
				
				<section class="table-row">
					<div class="message-title-trigger-container left">
						<div class="message-title">Stripe 10 Days Delinquent</div>
						<div class="message-triggers"><span class="icon-uxpin-icon-set-credit-card-regular"></span> Stripe payment past due <span class="icon-uxpin-icon-set-calendar-regular"></span> 10 days delinquent</div>
					</div>
					<div class="message-status left">
						<div ng-hide="false" class="status-live-icon-container">
							<div class="icon-play icon-play-centered"></div>
							<div class="status-title">Live</div>
						</div>
						<div ng-hide="true" class="status-pause-icon-container">
							<div class="icon-pause icon-pause-centered"></div>
							<div class="status-title">Paused</div>	
						</div>
					</div>
					<div class="message-channel left">
						<div class="email left" ng-hide="false">
							<div class="icon-uxpin-icon-set-envelope-regular email-icon"></div>
							<div class="email-title">email</div>
						</div>
						<div class="sms left" ng-hide="true">
							<div class="icon-uxpin-icon-set-message-regular sms-icon"></div>
							<div class="sms-title">SMS</div>
						</div>
					
					</div>
					<div class="message-sender left">
						<div class="name-container">
							<div class="icon-user agent-icon"></div>
							<div class="agent-name-title left">Ryan Koven</div>
						</div>	
					</div>
				</section>
				<section class="table-row">
					<div class="message-title-trigger-container left">
						<div class="message-title"><a style="text-decoration: none; color:inherit;" href='/#/dashboard/auto-messages'>Stripe 15 Days Delinquent - Final Reminder</a></div>
						<div class="message-triggers"><span class="icon-uxpin-icon-set-credit-card-regular"></span> Stripe payment past due <span class="icon-uxpin-icon-set-calendar-regular"></span> 15 days delinquent</div>
					</div>
					<div class="message-status left">
						<div ng-hide="false" class="status-live-icon-container">
							<div class="icon-play icon-play-centered"></div>
							<div class="status-title">Live</div>
						</div>
						<div ng-hide="true" class="status-pause-icon-container">
							<div class="icon-pause icon-pause-centered"></div>
							<div class="status-title">Paused</div>	
						</div>
					</div>
					<div class="message-channel left">
						<div class="email left" ng-hide="false">
							<div class="icon-uxpin-icon-set-envelope-regular email-icon"></div>
							<div class="email-title">email</div>
						</div>
						<div class="sms left" ng-hide="true">
							<div class="icon-uxpin-icon-set-message-regular sms-icon"></div>
							<div class="sms-title">SMS</div>
						</div>
					
					</div>
					<div class="message-sender left">
						<div class="name-container">
							<div class="icon-user agent-icon"></div>
							<div class="agent-name-title left">Jonathan Augenstine</div>
						</div>	
					</div>
				</section>
				<section class="table-row">
					<div class="message-title-trigger-container left">
						<div class="message-title">Stripe 20 Days Delinquent - Text Notif...</div>
						<div class="message-triggers"><span class="icon-uxpin-icon-set-credit-card-regular"></span> Stripe payment past due <span class="icon-uxpin-icon-set-calendar-regular"></span> 20 days delinquent</div>
					</div>
					<div class="message-status left">
						<div ng-hide="true" class="status-live-icon-container">
							<div class="icon-play icon-play-centered"></div>
							<div class="status-title">Live</div>
						</div>
						<div ng-hide="false" class="status-pause-icon-container">
							<div class="icon-pause icon-pause-centered"></div>
							<div class="status-title">Paused</div>	
						</div>
					</div>
					<div class="message-channel left">
						<div class="email left" ng-hide="true">
							<div class="icon-uxpin-icon-set-envelope-regular email-icon"></div>
							<div class="email-title">email</div>
						</div>
						<div class="sms left" ng-hide="false">
							<div class="icon-uxpin-icon-set-message-regular sms-icon"></div>
							<div class="sms-title">SMS</div>
						</div>
					
					</div>
					<div class="message-sender left">
						<div class="name-container">
							<div class="icon-user agent-icon"></div>
							<div class="agent-name-title left">Jonathan Augenstine</div>
						</div>	
					</div>
				</section>
				<section class="table-row">
					<div class="message-title-trigger-container left">
						<div class="message-title">Stripe 5 Days Delinquent</div>
						<div class="message-triggers"><span class="icon-uxpin-icon-set-credit-card-regular"></span> Stripe payment past due <span class="icon-uxpin-icon-set-calendar-regular"></span> 5 days delinquent</div>
					</div>
					<div class="message-status left">
						<div ng-hide="true" class="status-live-icon-container">
							<div class="icon-play icon-play-centered"></div>
							<div class="status-title">Live</div>
						</div>
						<div ng-hide="false" class="status-pause-icon-container">
							<div class="icon-pause icon-pause-centered"></div>
							<div class="status-title">Paused</div>	
						</div>
					</div>
					<div class="message-channel left">
						<div class="email left" ng-hide="true">
							<div class="icon-uxpin-icon-set-envelope-regular email-icon"></div>
							<div class="email-title">email</div>
						</div>
						<div class="sms left" ng-hide="false">
							<div class="icon-uxpin-icon-set-message-regular sms-icon"></div>
							<div class="sms-title">SMS</div>
						</div>
					
					</div>
					<div class="message-sender left">
						<div class="name-container">
							<div class="icon-user agent-icon"></div>
							<div class="agent-name-title left">Jonathan Augenstine</div>
						</div>	
					</div>
				</section>
			</div>
		</div>	
</div>