<div class="header">
	<div class="logo left"></div>
	<div class="tabs">
		<ul>
			<li ng-class=" { active : pageSection == 'users' } "><a href="/#/dashboard/users">Users</a></li>
			<li ng-class=" { active : pageSection == 'campaigns' } "><a href="/#/dashboard/campaigns">Campaigns</a></li>
			<li ng-class=" { active : pageSection == 'conversations' } "><a href="/#/dashboard/conversations">Conversations</a></li>
			<li ng-class=" { active : pageSection == 'auto-messages' } "><a href="/#/dashboard/auto-messages">Auto Messages</a></li>
			
		</ul>				
	</div>			
</div>