<div class="integrate-container">
	<div class="loader-container" ng-show="{{loader}}">
		<img class="loader" src="../bower_components/SVG-Loaders/svg-loaders/three-dots.svg" />
	</div>
	<div class="fixed-header">
		<div class="fixed-header-logo left"></div>
	</div>
	<div class="header-container">
		<h1 class="header-text">Get Started With UserVault</h1>
	</div>
	<div class="integration-box">
		<div class="integration-wrapper">
			<div class="step-number">1</div>
			<h3 class="import-users-text">Import Your Users From Stripe</h3>
			<p class="import-users-subtext">Import all your customers from Stripe into UserVault; you can then filter, segment and send messages based off account balance, plan, monthly price, and more.</p>
			<div class="stripe-uservault-wrapper">
				<div class="stripe-logo"><i class="fa fa-cc-stripe stripe-logo"></i></div>
				<div class="plus-sign">+</div>
				<div class="uservault-logo"></div>
			</div>
			<div class="connect-stripe-wrapper">
				<div class="connect-stripe" ng-click="submitIntegrate()">Connect Stripe</div>
			</div>
		</div>
	</div>
</div>